/* リストの丸ポチ（●）を消して二重表記を防止 */
.md-nav__list, .md-typeset ul {
    list-style-type: none !important;
}

/* サイドメニューの余白を調整してスッキリさせる */
.md-nav__link {
    padding-left: 0.5rem;
}

/* スマホでの改行間隔を調整 */
.md-typeset p {
    margin-bottom: 0.8em;
    line-height: 1.6;
}
